In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'c:\\Users\\brend\\VSCode Projects\\school_personal\\stat386\\FinalProject\\Stat386-FinalProject-Divorce-Crime\\src\\stat386_finalproject_divorce_crime'

In [6]:
df = pd.read_parquet("../data/summarized_fbi_data.parquet")

In [7]:
df.head()

,state,month_year,V_rate,V_actual,V_clearance_rate,V_clearance_actual,population,participated_population,ASS_rate,ASS_actual,...,ROB_clearance_rate,ROB_clearance_actual,ARS_rate,ARS_actual,ARS_clearance_rate,ARS_clearance_actual,P_rate,P_actual,P_clearance_rate,P_clearance_actual
0,Alabama,1985-01-01,34.54,1372.0,18.76,745.0,4021000,3971935.0,22.46,892.0,...,2.79,111.0,2.44,97.0,0.38,15.0,296.58,11780.0,56.04,2226.0
1,Alabama,1985-02-01,32.81,1301.0,14.98,594.0,4021000,3965438.0,20.73,822.0,...,2.35,93.0,2.22,88.0,0.35,14.0,261.86,10384.0,50.49,2002.0
2,Alabama,1985-03-01,40.06,1580.0,17.83,703.0,4021000,3943841.0,27.87,1099.0,...,2.74,108.0,2.51,99.0,0.33,13.0,288.37,11373.0,55.43,2186.0
3,Alabama,1985-04-01,35.63,1405.0,18.62,734.0,4021000,3942841.0,24.98,985.0,...,2.23,88.0,3.04,120.0,0.46,18.0,265.32,10461.0,57.12,2252.0
4,Alabama,1985-05-01,38.23,1507.0,17.43,687.0,4021000,3942123.0,26.84,1058.0,...,2.16,85.0,2.49,98.0,0.48,19.0,281.24,11087.0,55.58,2191.0

In [3]:
df = pd.read_csv("../data/Combined_DF.csv")

In [4]:
df.head()

,Unnamed: 0.1,index,state,year,V_actual,V_clearance_actual,ASS_actual,ASS_clearance_actual,BUR_actual,BUR_clearance_actual,...,P_clearance_rate,Unnamed: 0,population_over_15,married_males_last_year,married_females_last_year,divorced_males_last_year,divorced_females_last_year,state.1,married_last_year,divorced_last_year
0,0,26,Alabama,2011,19666.0,7716.0,13204.0,5611.0,49629.0,6368.0,...,56.659167,0,3874758,37987,37530,22071.0,28381.0,1,75517,50452.0
1,1,27,Alabama,2012,21148.0,7262.0,14612.0,5488.0,46176.0,5399.0,...,52.746667,52,3886060,37523,37737,20713.0,22661.0,1,75260,43374.0
2,2,28,Alabama,2013,19725.0,8953.0,13041.0,6263.0,39860.0,5853.0,...,62.026667,132,3910998,36015,34208,23479.0,24495.0,1,70223,47974.0
3,3,29,Alabama,2014,19603.0,8945.0,12970.0,6209.0,37397.0,5496.0,...,61.866667,156,3931966,36382,35000,17639.0,21358.0,1,71382,38997.0
4,4,30,Alabama,2015,22117.0,8915.0,15315.0,6331.0,33854.0,4886.0,...,55.108333,236,3947204,33087,33454,20124.0,19416.0,1,66541,39540.0

In [5]:
df.columns

Index(['Unnamed: 0.1', 'index', 'state', 'year', 'V_actual',
       'V_clearance_actual', 'ASS_actual', 'ASS_clearance_actual',
       'BUR_actual', 'BUR_clearance_actual', 'LAR_actual',
       'LAR_clearance_actual', 'MVT_actual', 'MVT_clearance_actual',
       'HOM_actual', 'HOM_clearance_actual', 'RPE_actual',
       'RPE_clearance_actual', 'ROB_actual', 'ROB_clearance_actual',
       'ARS_actual', 'ARS_clearance_actual', 'P_actual', 'P_clearance_actual',
       'V_rate', 'V_clearance_rate', 'population', 'participated_population',
       'ASS_rate', 'ASS_clearance_rate', 'BUR_rate', 'BUR_clearance_rate',
       'LAR_rate', 'LAR_clearance_rate', 'MVT_rate', 'MVT_clearance_rate',
       'HOM_rate', 'HOM_clearance_rate', 'RPE_rate', 'RPE_clearance_rate',
       'ROB_rate', 'ROB_clearance_rate', 'ARS_rate', 'ARS_clearance_rate',
       'P_rate', 'P_clearance_rate', 'Unnamed: 0', 'population_over_15',
       'married_males_last_year', 'married_females_last_year',
       'divorced_males_last_year', 'divorced_females_last_year', 'state.1',
       'married_last_year', 'divorced_last_year'],
      dtype='object')